.footer__column-link {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: block;
    text-align: start;
  }

.footer__column-link:hover {
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}