.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  flex-direction: row;
  align-content: center;
  width: 730px;
  z-index: 2;
}